body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#canvas {
    background-color: lightpink;
    border-bottom: 5px solid purple;
}



.music-control {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
}

#gameContainer h1 {
    background-color: aqua;
}
